*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body{
  background: linear-gradient(246deg, #0096c7,#3a86ff);
}

.container{
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  width: 90%;
  max-width: 470px;
  background: linear-gradient(246deg, #0096c7,#3a86ff);
  color: #fff;
  margin: 100px auto;
  padding: 40px 1px;
  text-align: center;
}

.search{
  align-self: center;
  margin: -12px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search input{
  width: 210px;
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 1px 35px;
  height: 45px;
  border-radius: 30px;
  flex: 1;
  margin-right: 5px;
  font-size: 15px;
}

.search button{
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.search button img{
  width: 16px;
}

.w-icon{
  align-self: center;
  width: 170px;
  margin-top: 30px;
}

.temp{
  font-size: 80px;
  font-weight: 500;
}  

.city{
  font-size: 40px;
  font-weight: 400;
  margin-top: -10px;
}

.details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin-top: 50px;
}

.col{
  display: flex;
  align-items: center;
  text-align: left;
}

.col img{
  width: 40px;
  margin-right: 10px;
}

.humidity, .wind{
  font-size: 20px;
  margin-top: -6px;
}

.weather{
  flex-direction: column;
  display: none;
}

.err{
  text-align: left;
  margin-left: 35px;
  margin-top: 38px;
  font-size: 14px;
  color: black;
  display: none;
}
